<section class="h-100 ">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">

          <form class="mt-4" >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Carrinho de compras</h1>
                    <h6 class="mb-0 text-muted">{{(cartProduct | async)?.length}} itens</h6>
                  </div>
                  <hr class="my-4">

                  <div *ngFor="let product of cartProduct |async; let i = index" class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img src="{{product.imageUrl}}"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <input type="hidden" name="{{'imageUrl' +i}}" value="{{product.imageUrl}}" />
                    <input type="hidden" name="{{'quantity' +i}}" value="{{1}}" />
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{product.color}}</h6>
                      <h6 class="text-black mb-0">{{product.category}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>

                      <input id="form1" min="0" name="quantity" value="1" type="number"
                        class="form-control form-control-sm" />

                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">{{product.price}} kz</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <button class="btn" (click)="removeItemToCart(i)" class="btn btn-danger btn-block"> Eliminar </button>
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="pt-5">
                    <h6 class="mb-0"><a routerLink="/products-listing" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Voltar para a loja</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Encomendar Peão</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">itens {{(cartProduct | async)?.length}}</h5>
                    <h5>{{totalPrice | async}} kz</h5>
                  </div>


             
                    <div class="form-outline form-white mb-4">
                      <input [(ngModel)]="name" type="text" name="name" id="typeName" class="form-control form-control-lg" siez="17"
                        placeholder="Nome" />
                      <label class="form-label" for="typeName">Nome</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                      <input [(ngModel)]="email" type="email" name="email" id="email" class="form-control form-control-lg" siez="17"
                        placeholder="Email" />
                      <label class="form-label" for="email">Email</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                      <input [(ngModel)]="phone" type="phone" name="phone" id="phone" class="form-control form-control-lg" siez="17"
                        placeholder="9xx-xxx-xxx" minlength="19" maxlength="19" />
                      <label class="form-label" for="phone">Telefone</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                      <input [(ngModel)]="address" type="text" name="address" id="address" class="form-control form-control-lg" siez="17"
                        placeholder="Endereço de entrega" />
                      <label class="form-label" for="email">Endereço de entrega</label>
                    </div>

                  

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">PREÇO TOTAL</h5>
                    <h5>{{totalPrice | async}} kz</h5>
                  </div>

                  <button type="submit" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark" (click)="placeOrder()">Enviar</button>
                </div>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>