<section class="header sticky-top">
    <nav class="container navbar navbar-expand-sm">
      <a routerLink="/home"><img class="logo" src="./assets/images/logo.png" alt="Logo"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
            <a class="nav-link link" routerLink="/home" routerLinkActive="active" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" routerLink="/products-listing" routerLinkActive="active">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" routerLink="/products-detail" routerLinkActive="active">
              <img src="./assets/images/ic-shopping-cart.png" alt="Logo">
              <span>
                {{(cartProducts | async)?.length}}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </section>


