<div class="container">
    <h1>Shopping</h1>
    <div class="products row">
        <div class="col-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            <div class="category-check">
                <h4>Category</h4>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheck1">
                    <label class="form-check-label" for="flexCheck1">
                        Adult
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheck2" checked="">
                    <label class="form-check-label" for="flexCheck2">
                        Crespas
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheck3">
                    <label class="form-check-label" for="flexCheck3">
                        Child
                    </label>
                </div>
            </div>
            <div class="color-check">
                <div class="category-check">
                    <h4>Color Available</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck4">
                        <label class="form-check-label" for="flexCheck4">
                            Black
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck5" checked="">
                        <label class="form-check-label" for="flexCheck5">
                            Red
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck6">
                        <label class="form-check-label" for="flexCheck6">
                            Blue
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck7">
                        <label class="form-check-label" for="flexCheck7">
                            Dark Blue
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck8">
                        <label class="form-check-label" for="flexCheck8">
                            White
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
            <div class="shop">
                <div class="card" *ngFor="let product of products | async">
                    <img src="{{product.imageUrl}}" class="card-img-top" alt="Cards">
                    <div class="card-body card-img-overlay">
                      <h5 class="card-title">Price: {{product.price}} kz</h5>
                      <a class="btn"(click)="addProductToCart(product)" >Go to Cart</a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>