<div class="container">
    <h1>Shopping</h1>
    <div class="products row">
        <div class="col-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            <div class="category-check">
                <h4>Category</h4>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Adult
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                    <label class="form-check-label" for="flexCheckChecked">
                        Crespas
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Child
                    </label>
                </div>
            </div>
            <div class="color-check">
                <div class="category-check">
                    <h4>Color Available</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Black
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                        <label class="form-check-label" for="flexCheckChecked">
                            Red
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Blue
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Dark Blue
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
            <div class="shop">
                <div class="card">
                    <img src="./assets/images/sell.jpeg" class="card-img-top" alt="Cards">
                    <div class="card-body card-img-overlay">
                      <h5 class="card-title">Price: 3500kz</h5>
                      <a class="btn">Go to Cart</a>
                    </div>
                </div>
                <div class="card">
                    <img src="./assets/images/sell-1.jpeg" class="card-img-top" alt="Cards">
                    <div class="card-body card-img-overlay">
                      <h5 class="card-title">Price: 3500kz</h5>
                      <a class="btn">Go to Cart</a>
                    </div>
                </div>
                <div class="card">
                    <img src="./assets/images/sell-2.jpeg" class="card-img-top" alt="Cards">
                    <div class="card-body card-img-overlay">
                      <h5 class="card-title">Price: 3500kz</h5>
                      <a class="btn">Go to Cart</a>
                    </div>
                </div>
            </div> 
            <div class="shop-2">
                <div class="card">
                    <img src="./assets/images/sell-3.jpeg" class="card-img-top" alt="Cards">
                    <div class="card-body card-img-overlay">
                      <h5 class="card-title">Price: 3500kz</h5>
                      <a class="btn">Go to Cart</a>
                    </div>
                </div>
                <div class="card">
                    <img src="./assets/images/sell-4.jpeg" class="card-img-top" alt="Cards">
                    <div class="card-body card-img-overlay">
                      <h5 class="card-title">Price: 3500kz</h5>
                      <a class="btn">Go to Cart</a>
                    </div>
                </div>
                <div class="card">
                    <img src="./assets/images/model.jpg" class="card-img-top" alt="Cards">
                    <div class="card-body card-img-overlay">
                      <h5 class="card-title">Price: 3500kz</h5>
                      <a class="btn">Go to Cart</a>
                    </div>
                </div>
            </div> 
            <div class="shop-3">
                <div class="card">
                    <img src="./assets/images/model-2.jpg" class="card-img-top" alt="Cards">
                    <div class="card-body card-img-overlay">
                      <h5 class="card-title">Price: 3500kz</h5>
                      <a class="btn">Go to Cart</a>
                    </div>
                </div>
                <div class="card">
                    <img src="./assets/images/model-3.jpg" class="card-img-top" alt="Cards">
                    <div class="card-body card-img-overlay">
                      <h5 class="card-title">Price: 3500kz</h5>
                      <a class="btn">Go to Cart</a>
                    </div>
                </div>
                <div class="card">
                    <img src="./assets/images/model-1.jpg" class="card-img-top" alt="Cards">
                    <div class="card-body card-img-overlay">
                      <h5 class="card-title">Price: 3500kz</h5>
                      <a class="btn">Go to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>