h1{
    margin: 25px 0px;
}
h4{
    margin-top: 15px;
}
.card {
    max-width: 24%;
    border-radius: 0px;
    margin-top: 15px;
}
.card-img-overlay {
    top: 250px;
    background-color: #0000008c;
    font-weight: bold;
    border-radius: 0px;
}
.card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.card-title{
    color: #FFFFFF;
    font-weight: bold;
}
.shop{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
@media only screen and (max-width: 800px) {
    .shop{
        flex-direction: column;
    }
    .card{
        max-width: 18rem;
        margin-top: 25px;
    }
}
@media screen and (min-width:820px) and (max-width:1280px){
    .card{
        max-width: 18rem;
        margin-top: 25px;
    }
}
.card-img{
    width: 50%;
}
.btn{
    background-color: #D9D9D9;
    color: #060807;
    font-weight: 600;
    border-radius: 0px;
}