<section>
    <div class="container">
        <div class="row hero">
            <div class="col-12 col-md-6 col-lg-6">
                <h1 class="hero-title">Mostre seu estilo usando Peão</h1>
                <p class="hero-info">Quando você usa nossos chapéus, destacando sua identidade africana,
                     você se torna parte da nossa família Peão.</p>
                <button class="btn" routerLink="/products-listing">Compre Agora</button>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <img class="hero-image" src="./assets/images/peao_hero.jpg" alt="Peão hats">
            </div>
        </div>
    </div>
    <div class="about-section">
        <div class="container">
            <div class="row about">
                <div class="col-12 col-md-6 col-lg-6">
                    <img class="hero-image" src="./assets/images/peao_collection.jpg" alt="Peão hats collection">
                </div>
                <div class="col-12 col-md-6 col-lg-6 about-info">
                    <h1>Sobre nós</h1>
                    <p>Desenhamos nossos chapéus com intenção e personalidade. Quer esteja à procura 
                        de um chapéu que possa usar o máximo que puder ou um chapéu que realce o seu 
                        lado divertido e africano, temos o chapéu perfeito para satisfazer as suas 
                        necessidades.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="shop-title">Comprar</h1>
        <div class="shop">
            <div class="card">
                <img src="./assets/images/model.jpg" class="card-img-top" alt="...">
                <div class="card-body card-img-overlay">
                  <h5 class="card-title">Preço: 3500kz</h5>
                </div>
            </div>
            <div class="card">
                <img src="./assets/images/model-1.jpg" class="card-img-top" alt="...">
                <div class="card-body card-img-overlay">
                  <h5 class="card-title">Preço: 3500kz</h5>
                </div>
            </div>
            <div class="card">
                <img src="./assets/images/model-2.jpg" class="card-img-top" alt="...">
                <div class="card-body card-img-overlay">
                  <h5 class="card-title">Preço: 3500kz</h5>
                </div>
            </div>
        </div>   
        <div class="shop-2">
            <div class="card">
                <img src="./assets/images/model-3.jpg" class="card-img-top" alt="...">
                <div class="card-body card-img-overlay">
                  <h5 class="card-title">Preço: 3500kz</h5>
                </div>
            </div>
            <div class="card">
                <img src="./assets/images/model-4.jpg" class="card-img-top" alt="...">
                <div class="card-body card-img-overlay">
                  <h5 class="card-title">Preço: 3500kz</h5>
                </div>
            </div>
            <div class="card">
                <img src="./assets/images/model.jpg" class="card-img-top" alt="Peão">
                <div class="card-body card-img-overlay">
                  <h5 class="card-title">Preço: 3500kz</h5>
                </div>
            </div>
        </div> 
        <div class="shop-btn">
            <button class="btn" routerLink="/products-listing">Compre Agora</button>
        </div>         
    </div>
    <div class="peao">
        <img src="./assets/images/peao.jpg" class="card-img" alt="">
    </div>
</section>